<!DOCTYPE html>
<html>
  <head>
    <title>DemoGiang</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<% if user_signed_in? %>
		<h3><%= 'Hello ' + current_user.email %></h3>								
    	<%= link_to "sign out",destroy_user_session_path, method: :delete   %>
    <% else %>
    	<%= link_to "Sign in", new_user_session_path %>			
	<% end %>												
	<br>												
											
    <%= yield %>
  </body>
</html>
